---
import { Icon } from 'astro-icon/components';

interface Props {
text: string;
image: string;
}

const {text, image} = Astro.props;
---

<div class="section">
  <div class="left">
    <p class="text">{text}</p>
  </div>
  <img src={image} alt="Image" class="image">
  </div>


<style>
.section {
  height: 60vh;
  background-color: var(--secondary);
  color: var(--background);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.image {
  object-fit: cover;
  grid-column: 2;
  align-self: center;
  height: 100%;
  width: 100%;
}

.left {
  grid-column: 1;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: inherit;
  align-items: center;
}

.left-image {
  width: 100%;
  object-fit: contain;
  grid-row: 1;
}

.text {
  grid-row: 2;
  padding-left: 2em;
  padding-right: 20%;
  text-align: left;
  margin-top: auto;
  padding-bottom: 2em;
  font-size: 1.5em;
}
</style>
